body {
  background-color: #2c3e50;
  color: #ecf0f1;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container, .lock {
  text-align: center;
  width: 80%;
  background-color: #34495e;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

input {
  padding: 6.5px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

img {
  width: 50%;
  height: 50%;
}

.input-wrapper {
  display: center;
  align-items: center;
}

.clear-button {
  margin-left: 10px;
}

.submit-button {
  margin-top: 10px;
}

.circle-box {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.circle {
  font-size: 24px;
  padding: 10px;
  border: 2px solid black;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  color: black;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.color-option {
  font-size: 24px;
  padding: 10px;
  border: 2px solid black;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  color: black;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.color-option:hover {
  transform: scale(1.1);
}

.shape-option {
  font-size: 24px;
  padding: 10px;
  border: 2px solid black;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: white;
  color: black;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.shape-option:hover {
  transform: scale(1.1);
}
.shape-box {
  font-size: 24px;
  width: 60px;
  height: 60px;
  color: black;
  border: 2px solid black;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}